<div class="top-row px-5 justify-content-around">
    <div class="col-6"></div>
        <span class="">Username</span>
    <div class="top-user d-flex justify-content-center align-items-center">
        <i class="fas fa-user top-user-icon"></i>
    </div>
    <div class="col-1"></div>
</div>